@font-face {
  font-family: "Gwent";
  src: url("../public/hinted-GWENT-ExtraBold.woff");
}

@font-face {
  font-family: "Heading";
  src: url("../public/hinted-HalisGR-Bold.woff2");
}

@font-face {
  font-family: "Text";
  src: url("../public/hinted-HalisGR-Book.woff2");
}

body {
  color: #eeeeee;
  font-size: 18px;
  font-family: Text;
}
