$color-faction-neutral: rgb(151, 30, 32);
$color-faction-moster: rgb(151, 30, 32);
$color-faction-nilfgaarg: rgb(51, 51, 51);
$color-faction-norther-realms: rgb(46, 67, 94);
$color-faction-scoiatael: rgb(57, 85, 33);
$color-faction-skellige: rgb(95, 77, 137);
